// @author Alexander Marenin
// @date December 2014

doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600&subset=latin,cyrillic')
        link(rel='stylesheet', href=route.PREFIX + '/public/css/cloud-subscribe.css')
    body
        if thanks
            .center
                h2 Спасибо!
        else
            form(action=route.PREFIX + route.SUBSCRIBE_FORM, method='POST')
                h2.center Анкета участника тестирования
                br
                if error
                    p.error= error
                input(type='text', name='name', placeholder='Имя', value=data.name || '')
                small Для того, чтобы мы знали как к вам обращаться.

                input(type='email', name='email', placeholder='E-mail', value=data.email || '')
                small На этот адрес мы отправим вам ссылку для скачивания приложения.

                input(type='text', name='phone', placeholder='Номер телефона', value=data.phone || '')
                small Номер телефона — один из идентификаторов вас как пользователя «Кошелька».

                select(name='model', placeholder='Модель телефона')
                    option(value='') Модель телефона
                small Версии приложения могут различаться в зависимости от модели телефона.

                .version
                    label
                        input(type='radio', name='version', value='4.4', checked=data.version === '4.4')
                        | Android 4.4
                    label
                        input(type='radio', name='version', value='5.0', checked=data.version === '5.0')
                        | Android 5.0
                    label
                        input#other-os(type='radio', name='version', value='other', checked=data.version === 'other')
                        | Другая OS
                small Версия Android обязательно должна быть не меньше 4.4 (KitKat).
                p#other-os-error.error.hidden Тестирование возможно только на  телефонах с Android 4.4 и Android 5.0.

                input(type='text', name='imei', placeholder='IMEI (Идентификационный код устройства)', value=data.imei || '')
                small Приложение будет доступно только для указанного IMEI. Пожалуйста, заполните это поле без ошибок.

                textarea(name='comment', placeholder='Почему вы хотите принять участие в тестировании?')= data.comment || ''

                label
                    input(type='checkbox', name='agree', value='yo!', checked=!!data.agree)
                    | Я согласен &nbsp;
                    a(href='/cloud/terms.pdf') с соглашением о неразглашении информации
                    |, а так же с тем,
                    | что организатор тестирования не несет никакой ответственности за любые убытки, причиненные в результате тестирования.

                p#bottom.error Все поля являются обязательными
                input(type='submit', value='Отправить')
            .thanks.center
                h2 Спасибо!
                    br
                    br
                    | Мы свяжемся с вами, когда начнется тестирование.

            script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
            script.
                var phones = "!{phones}".split( ';' );
                var url = '!{url}';
            script(src=route.PREFIX + '/public/js/cloud-subscribe.js')
