doctype html
html
    head
        meta(charset='UTF-8')
        title Приложение «Кошелёк» (NFC-Кошелек)
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='http://cardsmobile.ru/styles.css')
        link(rel='stylesheet', href=route.PREFIX + '/public/css/desktop.css')
        link(rel='shortcut icon', href='http://cardsmobile.ru/misc/favicon.ico')
        meta(name='viewport', content='width=980, user-scalable=yes')
        meta(name='description', content='Оплачивайте покупки и проезд в транспорте прикосновением телефона.')
        meta(name='keywords', content='NFC-Кошелек, NFC-платежи, MasterCard PayPass, VISA PayWave, NXP MiFare, Secure Element, TSM, Бесконтакт, CardsMobile')
        meta(property='og:type', content='website')
        meta(property='og:url', content='http://cardsmobile.ru/')
        meta(property='og:site_name', content='Приложение «Кошелёк»')
        meta(property='og:title', content='Приложение «Кошелёк»')
        meta(property='og:image', content='http://cardsmobile.ru/misc/og-wallet.jpg')
        meta(property='og:description', content='Оплачивайте покупки и проезд в транспорте прикосновением телефона. Приложение «Кошелёк» уже доступно на более чем полумиллионе Android-смартфонов.')
        script(type='application/ld+json').
            { "@context" : "http://schema.org",
            "@type" : "Organization",
            "url" : "http://cardsmobile.ru",
            "logo" : "http://cardsmobile.ru/logo/nfc-wallet.png",
            "contactPoint" : [
            { "@type" : "ContactPoint",
            "telephone" : "+7-800-200-99-78",
            "contactType" : "customer service"
            } ] }
    body
        // HEADER
        #header.slide
            .wrapper
                .block.left-floated
                    a(href='http://cardsmobile.ru/')
                        img(src='http://cardsmobile.ru/logo/nfc-wallet.png', width='100', height='27', border='0', title='Кошелёк', alt='Кошелёк')
                .block.right-floated
                    #navigation
                        a(href='http://cardsmobile.ru/') Приложение
                        a.selected(href='/download/') Загрузить
                        a(href='http://cardsmobile.ru/faq/') FAQ
                        a(href='http://cardsmobile.ru/en/') English
        // MAIN HERO
        #download-hero.slide
            .wrapper
                .block.left-floated
                    h1
                        | Для установки приложения на совместимый телефон откройте эту страницу со смартфона
        // MODELS
        #best-wallet.slide
            .wrapper
                .block
                    .text
                        h2 Совместимые модели телефонов
                        p
                            | Полная функциональность приложения доступна только на совместимых моделях телефонов, предназначенных для продажи на территории РФ, оснащенных  NFC-модулем и специальным микрочипом Secure Element. Количество поддерживаемых моделей постоянно увеличивается.
                        p Приложение «Кошелёк» уже доступно на более чем полумиллионе Android-смартфонов.
                .block.brands
                    img(src='http://cardsmobile.ru/logo/htc.png', width='110', height='50', border='0', vspace='0', hspace='25', alt='HTC', title='HTC')
                    img(src='http://cardsmobile.ru/logo/philips.png', width='170', height='50', border='0', vspace='0', hspace='25', alt='Philips', title='Philips')
                    img(src='http://cardsmobile.ru/logo/sony.png', width='165', height='50', border='0', vspace='0', hspace='25', alt='Sony', title='Sony')
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-m8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (M8)', title='HTC One (M8)')
                    br
                    span.model-name HTC One (M8)
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/sony-xperia-z.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Sony Xperia Z (C6603)', title='Sony Xperia Z (C6603)')
                    br
                    span.model-name Sony Xperia Z (C6603)
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/philips-xenium-w8555.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Philips Xenium W8555', title='Philips Xenium W8555')
                    br
                    span.model-name Philips Xenium W8555
                    br
                    | Предустановлено
                    br
                    | при производстве
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-e8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (E8)', title='HTC One (E8)')
                    br
                    span.model-name HTC One (E8)
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-max.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One Max', title='HTC One Max')
                    br
                    span.model-name HTC One Max
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-m7.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One (M7)', title='HTC One (M7)')
                    br
                    span.model-name HTC One (M7)
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/philips-xenium-w336.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='Philips Xenium W336', title='Philips Xenium W336')
                    br
                    span.model-name Philips Xenium W336
                    br
                    | Предустановлено
                    br
                    | при производстве
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-sv.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One SV', title='HTC One SV')
                    br
                    span.model-name HTC One SV
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block.model
                    img(src='http://cardsmobile.ru/model/htc-one-m8.png', width='200', height='300', border='0', vspace='5', hspace='5', alt='HTC One Dual-SIM (E8)', title='HTC One Dual-SIM (M8)')
                    br
                    span.model-name HTC One Dual-SIM (M8)
                    br
                    | Входит в официальное
                    br
                    | обновление прошивки
                .block(style='clear:both;')
                    img(src='http://cardsmobile.ru/misc/spacer.png', width='1', height='80')
                .block
                    .text
                        h2
                            | Мы сообщим вам о появлении «Кошелька»
                            br
                            | для вашей модели телефона
                        form#desktop(action=route.PREFIX + route.INDEX, method='POST')
                            input(type='text', name='model', placeholder='Укажите Вашу модель телефона', required)
                            br
                            input(type='email', name='email', placeholder='Ваш e-mail')
                            input(type='submit', value='OK')
        // FOOTER
        #footer.slide
            .wrapper
                .block.left-floated
                    .text
                        h2 Следите за нашими новостями в социальных сетях
                        p
                            a(href='http://vk.com/cardsmobile', target='_blank')
                                img.social(src='http://cardsmobile.ru/icon/vkontakte.png', border='0', width='51', height='51', title='ВКонтакте', alt='В')
                            a(href='http://facebook.com/cardsmobile', target='_blank')
                                img.social(src='http://cardsmobile.ru/icon/facebook.png', border='0', width='51', height='51', title='Facebook', alt='F')
                            a(href='http://twitter.com/cardsmobile', target='_blank')
                                img.social(src='http://cardsmobile.ru/icon/twitter.png', border='0', width='51', height='51', title='Twitter', alt='T')
                            a(href='http://plus.google.com/103055276936254491051', rel='publisher', target='_blank')
                                img.social(src='http://cardsmobile.ru/icon/gplus.png', border='0', width='51', height='51', title='Google Plus', alt='G')
                .block.right-floated
                    .text
                        .vcard(itemscope='', itemtype='http://schema.org/Organization')
                            p.support
                                span(itemprop='email')
                                    a.email(href='mailto:support@cardsmobile.ru') support@cardsmobile.ru
                            p.support
                                span.tel(itemprop='telephone')
                                    nobr
                                        abbr.value(title='+7-800-200-99-78') 8 (800) 200-99-78
                            p.terms
                                span(itemprop='name')
                                    a.fn.org.url(href='http://cardsmobile.ru/')
                                        | Приложение «Кошелёк»
                                        br
                                        | Компания CardsMobile
                                br
                                a(href='/terms/') Пользовательское соглашение
                                br
                                a(href='/jobs/') Работа в команде CardsMobile
                        // Counters
                        script.
                            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                            ga('create', 'UA-51462736-1', 'cardsmobile.ru');
                            ga('send', 'pageview');

        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(src=route.PREFIX + '/public/js/index.js')

