// @author Alexander Marenin
// @date November 2014


doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/public/css/all.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(href='/favicon.ico', rel='shortcut icon' type='image/x-icon')
    body(class=pageName)
        .container-fluid
            .row.logo
            .row.banner
                .col-sm-12
                    h2
                        | Оплачивайте покупки
                        br
                        | прикосновением телефона
            if isMobile
                if modelName
                    .row.mobile
                        p
                            | Скачайте приложение
                            br
                            | для Вашего смартфона
                        h2= modelName
                        a(href="#") СКАЧАТЬ
                else
                    .row.mobile
                        p
                            | Ваш смартфон
                            br
                            | пока не поддерживается

                        p
                            | Узнайте о появлении
                            br
                            | "Кошелька" для Вашего
                            br
                            | телефона первыми
                        form#mobile(action=route.INDEX, method='POST')
                            input(type='email', name='email', placeholder='Ваш e-mail')
                            input(type='submit', value='OK')

            else
                .row.desktop
                    p
                        | Для установки приложения на совместимую модель телефона
                        | откройте эту страницу со смартфона
                    h2 Совместимые модели телефонов
                    table
                        tr
                            td HTC One M8
                            td Sony Xperia Z
                        tr
                            td HTC One E8
                            td Philips W5888
                        tr
                            td HTC One M7
                            td Philips W336
                        tr
                            td HTC One Max
                            td
                        tr
                            td HTC One SV
                            td
                    p Мы сообщим вам о появлении «Кошелька» для вашей модели телефона
                    form#desktop(action=route.INDEX, method='POST')
                        input(type='text', name='model', placeholder='Укажите Вашу модель телефона')
                        br
                        input(type='email', name='email', placeholder='Ваш e-mail')
                        input(type='submit', value='OK')

            .row.thanks
                p
                    | Спасибо!
                    br
                    | Мы сообщим Вам о поддержке
                    br
                    | Вашей модели телефона
                p
                    | Следите за новостями
                    br
                    | в социальных сетях
                p.social
                    a.vk(href="http://vk.com/cardsmobile", target="_blank")
                    a.fb(href="http://facebook.com/cardsmobile", target="_blank")
                    a.tw(href="http://twitter.com/cardsmobile", target="_blank")
                    a.gp(href="http://plus.google.com/103055276936254491051", target="_blank")

        script(src='/public/bower/jquery/dist/jquery.min.js')
        script(src='/public/bower/bootstrap/dist/js/bootstrap.min.js')
        script(src='/public/js/index.js')
